/*
	By MH11
*/


/* -- Fonts -- */

@font-face {
	font-family: IRANSans;
	font-style: normal;
	font-weight: bold;
	src: url('../fonts/eot/IRANSansWeb_Bold.eot');
	src: url('../fonts/eot/IRANSansWeb_Bold.eot?#iefix') format('embedded-opentype'),
		/* IE6-8 */
		url('../fonts/woff2/IRANSansWeb_Bold.woff2') format('woff2'),
		/* FF39+,Chrome36+, Opera24+*/
		url('../fonts/woff/IRANSansWeb_Bold.woff') format('woff'),
		/* FF3.6+, IE9, Chrome6+, Saf5.1+*/
		url('../fonts/ttf/IRANSansWeb_Bold.ttf') format('truetype');
}

@font-face {
	font-family: IRANSans;
	font-style: normal;
	font-weight: 500;
	src: url('../fonts/eot/IRANSansWeb_Medium.eot');
	src: url('../fonts/eot/IRANSansWeb_Medium.eot?#iefix') format('embedded-opentype'),
		/* IE6-8 */
		url('../fonts/woff2/IRANSansWeb_Medium.woff2') format('woff2'),
		/* FF39+,Chrome36+, Opera24+*/
		url('../fonts/woff/IRANSansWeb_Medium.woff') format('woff'),
		/* FF3.6+, IE9, Chrome6+, Saf5.1+*/
		url('../fonts/ttf/IRANSansWeb_Medium.ttf') format('truetype');
}

@font-face {
	font-family: IRANSans;
	font-style: normal;
	font-weight: 300;
	src: url('../fonts/eot/IRANSansWeb_Light.eot');
	src: url('../fonts/eot/IRANSansWeb_Light.eot?#iefix') format('embedded-opentype'),
		/* IE6-8 */
		url('../fonts/woff2/IRANSansWeb_Light.woff2') format('woff2'),
		/* FF39+,Chrome36+, Opera24+*/
		url('../fonts/woff/IRANSansWeb_Light.woff') format('woff'),
		/* FF3.6+, IE9, Chrome6+, Saf5.1+*/
		url('../fonts/ttf/IRANSansWeb_Light.ttf') format('truetype');
}

@font-face {
	font-family: IRANSans;
	font-style: normal;
	font-weight: 200;
	src: url('../fonts/eot/IRANSansWeb_UltraLight.eot');
	src: url('../fonts/eot/IRANSansWeb_UltraLight.eot?#iefix') format('embedded-opentype'),
		/* IE6-8 */
		url('../fonts/woff2/IRANSansWeb_UltraLight.woff2') format('woff2'),
		/* FF39+,Chrome36+, Opera24+*/
		url('../fonts/woff/IRANSansWeb_UltraLight.woff') format('woff'),
		/* FF3.6+, IE9, Chrome6+, Saf5.1+*/
		url('../fonts/ttf/IRANSansWeb_UltraLight.ttf') format('truetype');
}

@font-face {
	font-family: IRANSans;
	font-style: normal;
	font-weight: normal;
	src: url('../fonts/eot/IRANSansWeb.eot');
	src: url('../fonts/eot/IRANSansWeb.eot?#iefix') format('embedded-opentype'),
		/* IE6-8 */
		url('../fonts/woff2/IRANSansWeb.woff2') format('woff2'),
		/* FF39+,Chrome36+, Opera24+*/
		url('../fonts/woff/IRANSansWeb.woff') format('woff'),
		/* FF3.6+, IE9, Chrome6+, Saf5.1+*/
		url('../fonts/ttf/IRANSansWeb.ttf') format('truetype');
}


/* -- Typography -- */

:root {
	color-scheme: dark;
}

* {
	font-family: IRANSans;
	margin: 0;
	padding: 0;
}

body {
	background: linear-gradient(-45deg, #17181F, #333645, #17181F, #333645);
	background-size: 400% 200%;
	font-family: IRANSans;
	direction: rtl;
	text-align: center;
	height: 100%;
	width: 100%;
	min-height: 100%;
	min-width: 100%;
	margin: 0;
	padding: 0;
	color: #CACACA;
	text-shadow: 0 0 12px rgba(0, 0, 0, 0.5);
}

a {
	text-decoration: none;
}

img {
	pointer-events: none;
}


/* -- Header -- */

.hero {
	position: relative;
	text-align: center;
	overflow: hidden;
	color: #CACACA;
}

.hero p {
	color: #5C64C5;
	letter-spacing: 5px;
	font-size: 1.3em;
}

.hero-wrap {
	padding: 3.5em 10px;
}

.hero p.intro {
	letter-spacing: 1px;
	font-size: 3em;
	font-weight: bold;
}

.hero p.game {
	color: #5C64C5;
	letter-spacing: 2px;
	font-size: 2em;
	margin: 20px 0 20px;
	font-weight: 550;
}

.hero p.mode {
	color: #CACACA;
	letter-spacing: 2px;
	font-size: 1.4em;
	margin: 0px 0 20px;
	font-weight: 550;
}

.hero p.website {
	color: #8B69C2;
	text-shadow: 0px 0px 12px;
}


/* -- Main -- */

#main {
	overflow: hidden;
	font-size: 12px;
	padding: 40px 0;
}

#bracket {
	overflow: hidden;
	font-size: 12px;
	padding: 40px 0;
}

.container {
	max-width: 1100px;
	margin: 0 auto 60px;
	display: block;
	display: -webkit-box;
	display: -moz-box;
	display: -ms-flexbox;
	display: -webkit-flex;
	display: -webkit-flex;
	display: flex;
	-webkit-flex-direction: row;
	flex-direction: row;
}

.container2 {
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	height: 100%;
	width: 100%;
	padding: 60px 0 60px;
}

.buttons {
	margin: 0 5px 20px;
	padding: 40px 20px;
	width: 300px;
	background-color: #8B69C2;
	color: #141519;
	outline: none;
	border: none;
	border-radius: 3px;
	font-weight: bold;
	font-size: 135%;
	cursor: pointer;
	-webkit-transition: 0.2s ease-in-out;
	transition: 0.2s ease-in-out;
}

.buttons:hover {
	box-shadow: 0 0 14px #8B69C2;
}

.buttons2 {
	margin: 0 5px 20px;
	padding: 40px 20px;
	width: 300px;
	background-color: #5C64C5;
	color: #141519;
	outline: none;
	border: none;
	border-radius: 3px;
	font-weight: bold;
	font-size: 145%;
	cursor: pointer;
	-webkit-transition: 0.2s ease-in-out;
	transition: 0.2s ease-in-out;
}

.buttons2:hover {
	box-shadow: 0 0 14px #5C64C5;
}

.title {
	margin-bottom: 15px;
	color: #8B69C2;
	letter-spacing: 4px;
	font-size: 28px;
}

.title4 {
	margin-bottom: 60px;
	color: #5C64C5;
	letter-spacing: 5px;
	font-size: 30px;
	font-weight: bold;
	direction: initial;
}

.split {
	display: block;
	float: right;
	display: -webkit-box;
	display: -moz-box;
	display: -ms-flexbox;
	display: -webkit-flex;
	display: flex;
	width: 42%;
	-webkit-flex-direction: row;
	-moz-flex-direction: row;
	flex-direction: row;
}

.champion {
	float: right;
	display: block;
	width: 16%;
	-webkit-flex-direction: row;
	flex-direction: row;
	-webkit-align-self: center;
	align-self: center;
	margin-top: -15px;
	text-align: center;
	padding: 230px 0\9;
}

.champion i {
	color: #A0A6A8;
	text-shadow: 0 0 4px #5C64C5, 0 0 14px #8B69C2;
	font-size: 45px;
	padding: 10px 0;
}

.round {
	display: block;
	float: right;
	display: -webkit-box;
	display: -moz-box;
	display: -ms-flexbox;
	display: -webkit-flex;
	display: flex;
	-webkit-flex-direction: column;
	flex-direction: column;
	width: 95%;
	width: 30.8333%\9;
}

.split-one .round {
	margin: 0 0 0 2.5%;
}

.split-two .round {
	margin: 0 2.5% 0 0;
}

.matchup {
	margin: 0;
	width: 100%;
	padding: 10px 0;
	height: 60px;
	-webkit-transition: all 0.2s;
	transition: all 1.0s;
}

.score {
	font-size: 13px;
	text-transform: uppercase;
	float: left;
	color: #5C64C5;
	font-weight: bold;
	position: absolute;
	left: 5px;
}

.team {
	padding: 0 5px;
	margin: 3px 0;
	height: 25px;
	line-height: 25px;
	white-space: nowrap;
	overflow: hidden;
	position: relative;
	font-weight: bold;
	outline: solid 1px;
	border: 1px solid;
	color: #000000;
}

.loser {
	outline: #850000 solid 1px;
	border: 1px solid #850000;
}

.winner {
	outline: #008500 solid 1px;
	border: 1px solid #008500;
}

.round-two .matchup {
	margin: 0;
	height: 60px;
	padding: 50px 0;
}

.round-three .matchup {
	margin: 0;
	height: 60px;
	padding: 130px 0;
}

.round-details {
	font-size: 15px;
	color: #5C64C5;
	text-align: center;
	height: 40px;
	font-weight: bold;
}

.champion li,
.round li {
	background-color: #D9D9D9;
	box-shadow: none;
	opacity: 0.45;
}

.current li {
	opacity: 1;
}

.current li.team {
	background-color: #D9D9D9;
	box-shadow: 0 1px 4px rgba(0, 0, 0, 0.1);
	opacity: 1;
}

.final {
	margin: 4.5em 0;
}

.date {
	font-size: 11px;
	letter-spacing: 2px;
	color: #8B69C2;
}

@-webkit-keyframes pulse {
	0% {
		-webkit-transform: scale(1);
		transform: scale(1);
	}

	50% {
		-webkit-transform: scale(1.3);
		transform: scale(1.3);
	}

	100% {
		-webkit-transform: scale(1);
		transform: scale(1);
	}
}

@keyframes pulse {
	0% {
		-webkit-transform: scale(1);
		-ms-transform: scale(1);
		transform: scale(1);
	}

	50% {
		-webkit-transform: scale(1.3);
		-ms-transform: scale(1.3);
		transform: scale(1.3);
	}

	100% {
		-webkit-transform: scale(1);
		-ms-transform: scale(1);
		transform: scale(1);
	}
}

@media screen and (min-width: 981px) and (max-width: 1099px) {
	.container {
		margin: 0 1%;
	}

	.h_iframe-aparat_embed_frame {
		margin: 0 200px !important;
	}
}

@media screen and (max-width: 980px) {
	.container {
		-webkit-flex-direction: column;
		-moz-flex-direction: column;
		flex-direction: column;
	}

	.split,
	.champion {
		width: 90%;
		margin: 35px 5%;
	}

	.champion {
		-webkit-box-ordinal-group: 3;
		-moz-box-ordinal-group: 3;
		-ms-flex-order: 3;
		-webkit-order: 3;
		order: 3;
	}

	.split {
		border-bottom: 1px solid #B6B6B6;
		padding-bottom: 20px;
	}

	.hero p.intro {
		font-size: 32px;
	}

	.hero p {
		font-size: 1em;
	}

	.hero p.game {
		font-size: 26px;
	}

	.hero p.mode {
		font-size: 18px;
	}

	.hero p.website {
		font-size: 16px;
	}

	.h_iframe-aparat_embed_frame {
		margin: 0 100px !important;
	}
}


/* -- Footer -- */

.share .container {
	margin: 0 auto;
	text-align: center;
}

.share-wrap {
	max-width: 1100px;
	text-align: center;
	margin: auto;
	margin-bottom: 30px;
}

.share-icon {
	display: inline-block;
	font-size: 24px;
	color: #FFFFFF;
	padding: 20px;
	opacity: 0.35;
}

.share-icon:hover {
	opacity: 1;
	-webkit-animation: pulse 0.5s;
	animation: pulse 0.5s;
	color: #5C64C5;
}

.footer-copyright {
	color: #CACACA;
	margin-bottom: 25px;
}

.footer-copyright a {
	color: #5C64C5;
}

.footer-copyright a:hover {
	color: #8B69C2;
}

.footer-copyright p {
	text-align: center;
	font-size: 15px;
	color: #CACACA;
}


/* -- Back To Top -- */

#scrolltop {
	display: none;
	position: fixed;
	bottom: 20px;
	left: 20px;
	width: 50px;
	height: 50px;
	line-height: 50px;
	text-align: center;
	background-color: #5C64C5;
	-webkit-border-radius: 50%;
	-moz-border-radius: 50%;
	border-radius: 50%;
	color: #141519;
	opacity: 0.5;
	-webkit-transition: 0.2s ease-in-out;
	transition: 0.2s ease-in-out;
	cursor: pointer;
	z-index: 9999;
}

#scrolltop:after {
	font-family: "Font Awesome 5 Free";
	font-weight: 900;
	content: "\f102";
}

#scrolltop:hover {
	opacity: 1;
	-webkit-transition: 0.2s opacity;
	transition: 0.2s opacity;
	filter: "alpha(opacity=100)";
	-ms-filter: "alpha(opacity=100)";
	box-shadow: 0 0 14px #141519;
}

@media screen and (max-width: 768px) {
	#scrolltop {
		display: none !important;
	}

	.sticky-icon {
		display: none !important;
	}

	.h_iframe-aparat_embed_frame {
		margin: 0 30px !important;
	}
}


/* -- Preloader -- */

#preloader {
	position: fixed;
	left: 0;
	top: 0;
	bottom: 0;
	right: 0;
	background-color: #17181F;
	z-index: 99999;
}

.preloader {
	position: absolute;
	left: 50%;
	top: 50%;
	-webkit-transform: translate(-50%, -50%);
	-ms-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
}

.preloader span {
	display: inline-block;
	background-color: #5C64C5;
	width: 25px;
	height: 25px;
	-webkit-animation: 1s preload ease-in-out infinite;
	animation: preload 1s ease-in-out infinite;
	-webkit-transform: scale(0);
	-ms-transform: scale(0);
	transform: scale(0);
	border-radius: 50%;
}

.preloader span:nth-child(1) {
	-webkit-animation-delay: 0s;
	animation-delay: 0s;
}

.preloader span:nth-child(2) {
	-webkit-animation-delay: 0.1s;
	animation-delay: 0.1s;
}

.preloader span:nth-child(3) {
	-webkit-animation-delay: 0.15s;
	animation-delay: 0.15s;
}

.preloader span:nth-child(4) {
	-webkit-animation-delay: 0.2s;
	animation-delay: 0.2s;
}

@-webkit-keyframes preload {
	0% {
		-webkit-transform: scale(0);
		transform: scale(0);
	}

	50% {
		-webkit-transform: scale(1);
		transform: scale(1);
	}

	100% {
		-webkit-transform: scale(0);
		transform: scale(0);
	}
}

@keyframes preload {
	0% {
		-webkit-transform: scale(0);
		transform: scale(0);
	}

	50% {
		-webkit-transform: scale(1);
		transform: scale(1);
	}

	100% {
		-webkit-transform: scale(0);
		transform: scale(0);
	}
}


/* -- Scrollbar -- */

::-webkit-scrollbar {
	width: 7px;
}

::-webkit-scrollbar-track {
	background: #17181F;
}

::-webkit-scrollbar-thumb {
	background: #5C64C5;
	border-radius: 1px;
}

::-webkit-scrollbar-thumb:active {
	background: #8B69C2;
}


/* -- Selection -- */

::-moz-selection {
	background-color: #5C64C5;
	color: #FFFFFF;
}

::selection {
	background-color: #5C64C5;
	color: #FFFFFF;
}


/* -- Sticky Social Icons -- */

.sticky-icon {
	z-index: 9999;
	position: fixed;
	top: 35%;
	left: -130px;
	width: 172px;
	display: flex;
	flex-direction: column;
	direction: initial;
}

.sticky-icon a {
	transform: translate(0px, 0px);
	border-radius: 0px 50px 50px 0px;
	text-align: right;
	margin: 0;
	background-color: #17181F;
	color: #5C64C5;
	text-decoration: none;
	text-transform: uppercase;
	padding: 5px;
	font-size: 18px;
	font-family: IRANSans, 'Oswald', sans-serif;
	-webkit-transition: all 0.8s;
	transition: all 0.8s;
	opacity: 0.5;
}

.sticky-icon a:hover {
	transform: translate(130px, 0px);
	color: #8B69C2;
	opacity: 1;
}

.sticky-icon a i {
	height: 32px;
	width: 32px;
	background-color: #5C64C5;
	color: #17181F;
	text-align: center;
	line-height: 32px;
	border-radius: 50%;
	margin-left: 8px;
	-webkit-transition: all 0.5s;
	transition: all 0.5s;
}

.sticky-icon a:hover i {
	transform: rotate(360deg);
	background-color: #8B69C2;
}


/* -- Random Team Generator -- */

.hidden {
	visibility: hidden;
	position: absolute;
}

.output {
	top: 0;
	text-align: justify;
	margin: 8px 0 20px;
}

.allPage {
	min-height: 100vh;
	display: flex;
	justify-content: center;
	align-items: center;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	height: 100%;
	width: 100%;
	padding: 30px 0 30px;
}

.container3 {
	padding-bottom: 60px;
}

.title3 {
	margin-bottom: 90px;
	color: #5C64C5;
	letter-spacing: 5px;
	font-size: 30px;
	direction: initial;
}

#myInput {
	font-size: 1.2em;
	color: #CACACA;
	direction: initial;
	text-align: justify;
	width: 96%;
	margin-bottom: 10px;
	padding: 5px;
	background-color: #17181F;
	outline: none;
	border: 1px solid #8B69C2;
	border-radius: 3px;
}

.container3 input {
	width: 75%;
	font-size: 1.1em;
	padding: 5px;
	margin-bottom: 40px;
	outline: none;
	background-color: #17181F;
	color: #CACACA;
	border: 1px solid #8B69C2;
	border-radius: 3px;
	text-align: center;
}

#buttons3 {
	width: 50%;
	padding: 5px;
	-webkit-transition: 0.2s ease-in-out;
	transition: 0.2s ease-in-out;
	background-color: #8B69C2;
	color: #141519;
	outline: none;
	border: none;
	font-weight: bold;
	font-size: 1.1em;
	cursor: pointer;
	border-radius: 3px;
}

#buttons3:hover {
	box-shadow: 0 0 2px #5C64C5, 0 0 10px #8B69C2;
}

#reset3 {
	width: 100%;
	background-color: #8B69C2;
	font-weight: bold;
	padding: 5px;
	border: none;
	-webkit-transition: 0.2s ease-in-out;
	transition: 0.2s ease-in-out;
	color: #141519;
	outline: none;
	cursor: pointer;
	border-radius: 3px;
}

#reset3:hover {
	box-shadow: 0 0 2px #5C64C5, 0 0 10px #8B69C2;
}

.teams3 {
	background-image: linear-gradient(to right top, #333645, #282936, #333645);
	padding: 30px;
	border-radius: 5px;
	color: #CACACA;
	font-size: 1.2em;
	-webkit-transition: all 0.5s ease-out;
	transition: all 0.5s ease-out;
}


/* -- Random Name Picker -- */

.title2 {
	margin-top: 10px;
	color: #5C64C5;
	letter-spacing: 5px;
	font-size: 30px;
	direction: initial;
}

#values {
	position: relative;
	font-size: 400%;
	text-align: center;
	margin: 0 auto;
	z-index: 0;
	color: #CACACA;
}

.name {
	overflow: hidden;
	display: block;
}

#names {
	display: none;
	padding: 5px;
}

#namesbox {
	min-height: 400px;
	font-size: 32px;
	background-color: #141519;
	color: #CACACA;
	outline: none;
	resize: none;
	border: 1px solid #8B69C2;
	border-radius: 3px;
	direction: initial;
	text-align: justify;
}

.extra {
	font-size: 16px;
	margin-top: 20px;
}

#result1 {
	background-color: #141519;
	color: #8B69C2;
	padding: 20px;
	z-index: 10;
	margin-top: -150px;
	border-radius: 3px;
}

#varnote {
	font-size: 40px;
	text-align: center;
	padding: 30px;
}

.copyright {
	font-size: 12px;
	color: #ADADAD;
}

.copyright a {
	color: #ADADAD;
}

.h_iframe-aparat_embed_frame {
	position: relative;
	margin: 0 300px;
}

.h_iframe-aparat_embed_frame .ratio {
	display: block;
	width: 100%;
	height: auto;
}

.h_iframe-aparat_embed_frame iframe {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	border: 2px solid #8B69C2;
	box-shadow: 0 0 14px #8B69C2;
}
